.App {
  background-color: #110416;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mr-10 {
  margin-right: 10px;
}

.ml-20p {
  margin-left: 20%!important;
}

h1 {
  margin: 20px;
  z-index: 1;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 1430px) {
  img {
    width: 80%!important;
  }

  p {
    width: 90%;
    font-size: 0.7em;
  }

}